## Import libraries

In [27]:
import pandas as pd 
import numpy as np
import utils
from importlib import reload
reload(utils)

## Import Data

### Main Dataframe

In [2]:
masterdata = pd.read_stata('./data/MasterDataExtendStata12.dta')
original_shape = masterdata.shape

### Other dataframes

In [3]:

"""
malha400 = pd.read_csv('./data/malha400.csv', sep=';',decimal=',')
malha400completa = pd.read_csv('./data/malha400Completa.csv', sep=';',decimal=',')
malha400completa2 = pd.read_csv('./data/malha400Completa2.csv', sep=';',decimal=',')
masterdata = pd.read_csv('./data/masterData.csv', sep=';',decimal='.') #attention to the decimal separator

cols = ['id_palheta', 'presenca_ovos', 'NUM_OVOS', 'IND_QTE_OVOS_DESIDRATADOS', 'IND_QTE_OVOS_ECLODIDOS', 'DT_INSTALACAO', 
        'DT_COLETA', 'NUM_SEMANA', 'ANO_REFERENCIA', 'NUM_ARMADILHA', 'ID_ARMADILHA', 'ID_ENDERECO_ARMADILHA',
        'NUM_LOGRADOURO', 'NUM_SEQU_LOGRADOURO','NOM_LOGRADOURO', 'CEP', 'NUM_IMOVEL', 'COMPLEMENTO', 'IND_OFICIAL',
        'QUADRA', 'VALOR_COORDENADA_X', 'VALOR_COORDENADA_Y','UF', 'COD_AREA_ABRANGENCIA', 'DES_MUNICIPIO', 'NUM_BAIRRO',
        'NOM_BAIRRO', 'COD_DISTRITO_SANITARIO', 'TP_LOGRADOURO', 'DT_DESATIVACAO_ARMADILHA_ENDERECO', 'DT_CADASTRO_ARMADILHA_ENDERECO','Unknown']

banco_160724 = pd.read_csv('./data/banco_160724.csv', sep=';',decimal='.',header=None) #Decimal is '.' which only affects the columns of coordenates.
banco_160724.columns = cols


IdQdnte = pd.read_excel('./data/IdQdnte400.xls')
active_traps = pd.read_excel('./data/OVITRAMPAS_ATIVAS.xlsx')

cols = ['id_palheta', 'presenca_ovos', 'NUM_OVOS', 'IND_QTE_OVOS_DESIDRATADOS', 'IND_QTE_OVOS_ECLODIDOS', 'DT_INSTALACAO', 
        'DT_COLETA', 'NUM_SEMANA', 'ANO_REFERENCIA', 'NUM_ARMADILHA', 'ID_ARMADILHA', 'ID_ENDERECO_ARMADILHA',
        'NUM_LOGRADOURO', 'NUM_SEQU_LOGRADOURO','NOM_LOGRADOURO', 'CEP', 'NUM_IMOVEL', 'COMPLEMENTO', 'IND_OFICIAL',
        'QUADRA', 'VALOR_COORDENADA_X', 'VALOR_COORDENADA_Y','UF', 'COD_AREA_ABRANGENCIA', 'DES_MUNICIPIO', 'NUM_BAIRRO',
        'NOM_BAIRRO', 'COD_DISTRITO_SANITARIO', 'TP_LOGRADOURO', 'DT_DESATIVACAO_ARMADILHA_ENDERECO', 'DT_CADASTRO_ARMADILHA_ENDERECO','Unknown']

banco_160724 = pd.read_csv('./data/banco_160724.csv', sep=';',decimal='.',header=None) #Decimal is '.' which only affects the columns of coordenates.
banco_160724.columns = cols

"""

"\nmalha400 = pd.read_csv('./data/malha400.csv', sep=';',decimal=',')\nmalha400completa = pd.read_csv('./data/malha400Completa.csv', sep=';',decimal=',')\nmalha400completa2 = pd.read_csv('./data/malha400Completa2.csv', sep=';',decimal=',')\nmasterdata = pd.read_csv('./data/masterData.csv', sep=';',decimal='.') #attention to the decimal separator\n\ncols = ['id_palheta', 'presenca_ovos', 'NUM_OVOS', 'IND_QTE_OVOS_DESIDRATADOS', 'IND_QTE_OVOS_ECLODIDOS', 'DT_INSTALACAO', \n        'DT_COLETA', 'NUM_SEMANA', 'ANO_REFERENCIA', 'NUM_ARMADILHA', 'ID_ARMADILHA', 'ID_ENDERECO_ARMADILHA',\n        'NUM_LOGRADOURO', 'NUM_SEQU_LOGRADOURO','NOM_LOGRADOURO', 'CEP', 'NUM_IMOVEL', 'COMPLEMENTO', 'IND_OFICIAL',\n        'QUADRA', 'VALOR_COORDENADA_X', 'VALOR_COORDENADA_Y','UF', 'COD_AREA_ABRANGENCIA', 'DES_MUNICIPIO', 'NUM_BAIRRO',\n        'NOM_BAIRRO', 'COD_DISTRITO_SANITARIO', 'TP_LOGRADOURO', 'DT_DESATIVACAO_ARMADILHA_ENDERECO', 'DT_CADASTRO_ARMADILHA_ENDERECO','Unknown']\n\nbanco_160724 = pd.read_csv('./data/banco_160724.csv', sep=';',decimal='.',header=None) #Decimal is '.' which only affects the columns of coordenates.\nbanco_160724.columns = cols\n\n\nIdQdnte = pd.read_excel('./data/IdQdnte400.xls')\nactive_traps = pd.read_excel('./data/OVITRAMPAS_ATIVAS.xlsx')\n\ncols = ['id_palheta', 'presenca_ovos', 'NUM_OVOS', 'IND_QTE_OVOS_DESIDRATADOS', 'IND_QTE_OVOS_ECLODIDOS', 'DT_INSTALACAO', \n        'DT_COLETA', 'NUM_SEMANA', 'ANO_REFERENCIA', 'NUM_ARMADILHA', 'ID_ARMADILHA', 'ID_ENDERECO_ARMADILHA',\n        'NUM_LOGRADOURO', 'NUM_SEQU_LOGRADOURO','NOM_LOGRADOURO', 'CEP', 'NUM_IMOVEL', 'COMPLEMENTO', 'IND_OFICIAL',\n        'QUADRA', 'VALOR_COORDENADA_X', 'VALOR_COORDENADA_Y','UF', 'COD_AREA_ABRANGENCIA', 'DES_MUNICIPIO', 'NUM_BAIRRO',\n        'NOM_BAIRRO', 'COD_DISTRITO_SANITARIO', 'TP_LOGRADOURO', 'DT_DESATIVACAO_ARMADILHA_ENDERECO', 'DT_CADASTRO_ARMADILHA_ENDERECO','Unknown']\n\nbanco_160724 = pd.read_csv('./data/banco_160724.csv', sep=';',decimal='.',header=None) #Decimal is '.' which only affects the columns of coordenates.\nbanco_160724.columns = cols\n\n"

In [4]:
masterdata.columns

Index(['exercicio', 'nplaca', 'narmad', 'idarmad', 'endarmad', 'cep',
       'dtinstal', 'dtcol', 'semepi', 'cdabrange', 'abrange', 'quadra',
       'cdbairro', 'nombairro', 'cddist', 'novos', 'eclod', 'desid', 'CatRC',
       'qarmadila', 'qarmadild', 'qarmadilrc', 'qarmadilbh', 'dia', 'mes',
       'ano', 'intvinstcol', 'agintincol', 'ovos', 'bovos', 'agnovos',
       'nagnovos', 'ovosdiacol', 'catovos', 'agovosdiacol', 'nagovosdiacol',
       'anoepid', 'nanoepid', 'mesepid', 'season', 'lustro', 'quinzena',
       'quinzepid', 'Calustro', 'distrito', 'npesmes', 'npesano', 'npesanoepi',
       'quadaa', 'quadist', 'quadaadist', 'aadist', 'qaabh', 'qaadist',
       'qaaCatRC', 'qquadbh', 'qquadist', 'qquadaa', 'qquaCatRC', 'peso1',
       'peso2', 'coordx', 'coordy', 'qdnte', 'ninsp', 'scoreG', 'GerCat',
       'Peso1', 'Peso2', 'SumOvosP1', 'SumOvosP2'],
      dtype='object')

## Exploration

### Number of unique values in each column

In [5]:
unique_values = utils.info_dict_col(masterdata,masterdata.columns,utils.get_col_unique_values)
utils.print_info_col(unique_values,6)

exercicio [14]: [2018 2014 2023 2013 2015 2020]
nplaca [523048]: [90000140 90000215 90000156 90000012 90000272 90000184]
narmad [2066]: [901001 901002 901003 901004 901005 901006]
idarmad [2066]: [901374 901375 901376 901377 901378 901379]
endarmad [2066]: [97222 97559 97541 97149 96964 96965]
cep [1786]: [9.03069076e+09 9.03069224e+09 9.03069008e+09 9.03069075e+09
 9.03069072e+09 9.03069080e+09]
dtinstal [2696]: <DatetimeArray>
['2018-06-18 00:00:00', '2014-09-22 00:00:00', '2023-05-29 00:00:00',
 '2013-07-01 00:00:00', '2015-03-30 00:00:00', '2020-08-10 00:00:00']
Length: 6, dtype: datetime64[ns]
dtcol [2803]: <DatetimeArray>
['2018-06-25 00:00:00', '2014-09-29 00:00:00', '2023-06-05 00:00:00',
 '2013-07-08 00:00:00', '2015-04-06 00:00:00', '2020-08-17 00:00:00']
Length: 6, dtype: datetime64[ns]
semepi [50]: [125 139 122 127 113 133]
cdabrange [155]: [901460. 901400. 901300. 901260. 901250. 901290.]
abrange [154]: ['C.S.REGINA' 'C.S.LINDEIA' 'C.S.ITAIPU' 'C.S.TUNEL DE IBIRITE'
 'C.S.TIROL' 'C.S.BARREIRO']
quadra [1803]: [9002489. 9005607. 9002173. 9002551. 9005938. 9008200.]
cdbairro [484]: [900714. 900706. 901052. 901157. 901158. 901155.]
nombairro [366]: ['LINDEIA' 'JATOBA' 'REGINA' 'ITAIPU' 'MARILANDIA' 'TUNEL DE IBIRITE']
cddist [9]: [1 2 3 4 5 6]
novos [997]: [  0. 110.  59.  28.  17.  14.]
eclod [6]: [nan  1.  2.  4.  3.  5.]
desid [6]: [nan  1.  5.  3.  4.  2.]
CatRC [5]: [ 2.  3.  1. nan  0.]
qarmadila [30]: [ 7. 11. 13. 12. 22. 17.]
qarmadild [9]: [245. 217. 208. 224. 285. 178.]
qarmadilrc [5]: [1053.  161.  766.   23.   64.]
qarmadilbh [1]: [2067.]
dia [31]: [18. 22. 29.  1. 30. 10.]
mes [12]: [6. 9. 5. 7. 3. 8.]
ano [14]: [2018. 2014. 2023. 2013. 2015. 2020.]
intvinstcol [39]: [ 7.  8.  6.  5.  9. 10.]
agintincol [4]: ['06 - 08' '01 - 05' '09 - 99' '']
ovos [3]: ['Neg' 'Pos' '']
bovos [3]: [ 0.  1. nan]
agnovos [6]: ['0000 - 0000' '0101 - 9999' '0051 - 0100' '0016 - 0050' '0001 - 0015' '']
nagnovos [6]: [ 0.  4.  3.  2.  1. nan]
ovosdiacol [2274]: [ 0.        15.714286   8.428572   4.         2.4285715  2.       ]
catovos [3]: [ 0.  1. nan]
agovosdiacol [6]: ['000.00 - 000.00' '007.00 - 017.99' '002.00 - 006.99' ''
 '018.00 - 999.99' '000.01 - 001.99']
nagovosdiacol [6]: [ 0.  3.  2. nan  4.  1.]
anoepid [14]: ['2018_19' '2014_15' '2022_23' '2013_14' '2020_21' '2021_22']
nanoepid [14]: [21819. 21415. 22223. 21314. 22021. 22122.]
mesepid [12]: [ 1.  4. 12.  2. 10.  3.]
season [2]: [1. 2.]
lustro [72]: [104. 123. 173. 107. 161. 115.]
quinzena [24]: [112. 118. 110. 113. 106. 115.]
quinzepid [24]: [102. 108. 124. 103. 120. 105.]
Calustro [71]: [134. 153. 130. 137. 118. 145.]
distrito [9]: ['BARREIRO' 'CENTRO-SUL' 'LESTE' 'NORDESTE' 'NOROESTE' 'NORTE']
npesmes [3]: [2 3 1]
npesano [25]: [24 23 22 16  9  8]
npesanoepi [25]: [23 24 17 22  6  1]
quadaa [1931]: [9.01460900e+12 9.01460901e+12 9.01460900e+12 9.01460900e+12
 9.01460901e+12 9.01460901e+12]
quadist [1913]: [19002489. 19005607. 19002173. 19002551. 19005938. 19008200.]
quadaadist [1931]: [1.9014609e+13 1.9014609e+13 1.9014609e+13 1.9014609e+13 1.9014609e+13
 1.9014609e+13]
aadist [155]: [1901460. 1901400. 1901300. 1901260. 1901250. 1901290.]
qaabh [1]: [154.]
qaadist [7]: [20. 12. 14. 21. 17. 18.]
qaaCatRC [5]: [84. 20. 47.  3.  2.]
qquadbh [2]: [1802.   nan]
qquadist [9]: [224. 201. 189. 212. 269. 176.]
qquadaa [29]: [ 7. 11. 12. 22. 19. 15.]
qquaCatRC [5]: [944. 150. 704.  23.  60.]
peso1 [675]: [1127. 1176. 1344.  833. 1008. 1078.]
peso2 [244]: [161. 168. 119. 154.  42.   7.]
coordx [1817]: [598985.06 598808.   598881.75 598157.   598520.   599020.  ]
coordy [1781]: [7789798.  7790153.  7790764.5 7791000.  7790795.  7790677. ]
qdnte [1402]: ['0303' '0333' '0365' '0395' '0364' '0397']
ninsp [1]: [1.]
scoreG [1716]: [287.3 163.  158.2 133.  123.1  43.5]
GerCat [5]: ['A2' 'M ' 'B ' 'A1' 'ND']
Peso1 [720]: [287. 163. 158. 133. 123.  44.]
Peso2 [2784]: [2009. 2296. 1722. 1435. 2583. 1141.]
SumOvosP1 [48181]: [    0. 31570. 16933.  8036.  4879.  4018.]
SumOvosP2 [55021]: [     0. 220990. 118531.  56252.  34153.  28126.]

In [6]:
weird_unique_values = {col:values for col,values in unique_values.items() if values.shape[0] < 10}
utils.print_info_col(weird_unique_values,20)

cddist [9]: [1 2 3 4 5 6 7 8 9]
eclod [6]: [nan  1.  2.  4.  3.  5.]
desid [6]: [nan  1.  5.  3.  4.  2.]
CatRC [5]: [ 2.  3.  1. nan  0.]
qarmadild [9]: [245. 217. 208. 224. 285. 178. 215. 301. 193.]
qarmadilrc [5]: [1053.  161.  766.   23.   64.]
qarmadilbh [1]: [2067.]
agintincol [4]: ['06 - 08' '01 - 05' '09 - 99' '']
ovos [3]: ['Neg' 'Pos' '']
bovos [3]: [ 0.  1. nan]
agnovos [6]: ['0000 - 0000' '0101 - 9999' '0051 - 0100' '0016 - 0050' '0001 - 0015' '']
nagnovos [6]: [ 0.  4.  3.  2.  1. nan]
catovos [3]: [ 0.  1. nan]
agovosdiacol [6]: ['000.00 - 000.00' '007.00 - 017.99' '002.00 - 006.99' ''
 '018.00 - 999.99' '000.01 - 001.99']
nagovosdiacol [6]: [ 0.  3.  2. nan  4.  1.]
season [2]: [1. 2.]
distrito [9]: ['BARREIRO' 'CENTRO-SUL' 'LESTE' 'NORDESTE' 'NOROESTE' 'NORTE' 'OESTE'
 'PAMPULHA' 'VENDA NOVA']
npesmes [3]: [2 3 1]
qaabh [1]: [154.]
qaadist [7]: [20. 12. 14. 21. 17. 18. 15.]
qaaCatRC [5]: [84. 20. 47.  3.  2.]
qquadbh [2]: [1802.   nan]
qquadist [9]: [224. 201. 189. 212. 269. 176. 205. 249. 187.]
qquaCatRC [5]: [944. 150. 704.  23.  60.]
ninsp [1]: [1.]
GerCat [5]: ['A2' 'M ' 'B ' 'A1' 'ND']

### Sorting data columns

In [7]:
masterdata['dtinstal'].sort_values()

403650   2011-09-12
395514   2011-09-13
414143   2011-09-13
402549   2011-09-13
405603   2011-09-13
            ...
418138   2024-08-23
412013   2024-08-23
338308   2024-08-23
418453   2024-08-23
469756   2024-08-23
Name: dtinstal, Length: 523048, dtype: datetime64[ns]

### Checking types

In [8]:
# dict containing the types of each column
col_types = utils.info_dict_col(masterdata, masterdata.columns, utils.get_col_types)
utils.print_info_col(col_types,20)

exercicio [1]: [<class 'int'>]
nplaca [1]: [<class 'int'>]
narmad [1]: [<class 'int'>]
idarmad [1]: [<class 'int'>]
endarmad [1]: [<class 'int'>]
cep [1]: [<class 'float'>]
dtinstal [1]: [<class 'pandas._libs.tslibs.timestamps.Timestamp'>]
dtcol [1]: [<class 'pandas._libs.tslibs.timestamps.Timestamp'>]
semepi [1]: [<class 'int'>]
cdabrange [1]: [<class 'float'>]
abrange [1]: [<class 'str'>]
quadra [1]: [<class 'float'>]
cdbairro [1]: [<class 'float'>]
nombairro [1]: [<class 'str'>]
cddist [1]: [<class 'int'>]
novos [1]: [<class 'float'>]
eclod [1]: [<class 'float'>]
desid [1]: [<class 'float'>]
CatRC [1]: [<class 'float'>]
qarmadila [1]: [<class 'float'>]
qarmadild [1]: [<class 'float'>]
qarmadilrc [1]: [<class 'float'>]
qarmadilbh [1]: [<class 'float'>]
dia [1]: [<class 'float'>]
mes [1]: [<class 'float'>]
ano [1]: [<class 'float'>]
intvinstcol [1]: [<class 'float'>]
agintincol [1]: [<class 'str'>]
ovos [1]: [<class 'str'>]
bovos [1]: [<class 'float'>]
agnovos [1]: [<class 'str'>]
nagnovos [1]: [<class 'float'>]
ovosdiacol [1]: [<class 'float'>]
catovos [1]: [<class 'float'>]
agovosdiacol [1]: [<class 'str'>]
nagovosdiacol [1]: [<class 'float'>]
anoepid [1]: [<class 'str'>]
nanoepid [1]: [<class 'float'>]
mesepid [1]: [<class 'float'>]
season [1]: [<class 'float'>]
lustro [1]: [<class 'float'>]
quinzena [1]: [<class 'float'>]
quinzepid [1]: [<class 'float'>]
Calustro [1]: [<class 'float'>]
distrito [1]: [<class 'str'>]
npesmes [1]: [<class 'int'>]
npesano [1]: [<class 'int'>]
npesanoepi [1]: [<class 'int'>]
quadaa [1]: [<class 'float'>]
quadist [1]: [<class 'float'>]
quadaadist [1]: [<class 'float'>]
aadist [1]: [<class 'float'>]
qaabh [1]: [<class 'float'>]
qaadist [1]: [<class 'float'>]
qaaCatRC [1]: [<class 'float'>]
qquadbh [1]: [<class 'float'>]
qquadist [1]: [<class 'float'>]
qquadaa [1]: [<class 'float'>]
qquaCatRC [1]: [<class 'float'>]
peso1 [1]: [<class 'float'>]
peso2 [1]: [<class 'float'>]
coordx [1]: [<class 'float'>]
coordy [1]: [<class 'float'>]
qdnte [1]: [<class 'str'>]
ninsp [1]: [<class 'float'>]
scoreG [1]: [<class 'float'>]
GerCat [1]: [<class 'str'>]
Peso1 [1]: [<class 'float'>]
Peso2 [1]: [<class 'float'>]
SumOvosP1 [1]: [<class 'float'>]
SumOvosP2 [1]: [<class 'float'>]

In [9]:
# dict containing the columns with more than one type
weird_type_cols = {key:value for key,value in col_types.items() if value.shape[0] > 1}
print('Columns with more than one type:')
utils.print_info_col(weird_type_cols,20)


print('\n Values of columns with more than one type:')
for col, value in weird_type_cols.items():
    print(f'{col} [{value.shape[0]}]: {masterdata[col].unique()[:20]}')

Columns with more than one type:

 Values of columns with more than one type:

## Processing

### Remove useless columns

In [11]:
remove_cols = []
for col,value in unique_values.items():
     sum_dropped = 0 
     if value.shape[0] == 1:
        masterdata.drop(col, axis=1, inplace=True)
        remove_cols.append(col)
        sum_dropped += 1
for col in remove_cols:
    del unique_values[col]
    del col_types[col]

print(f'{original_shape[1] - masterdata.shape[1]} columns with only one value were dropped.')
# IND_OFICIAL char(1),[Indicativo se o endereço é oficial ou informado.]

3 columns with only one value were dropped.

### NaN Treatment

In [12]:
masterdata.isna().sum().sort_values(ascending=False)[:30]

eclod            480908
desid            456084
nagovosdiacol     10237
CatRC              6546
Peso1              5290
Peso2              5290
SumOvosP1          5290
SumOvosP2          5290
catovos            5249
bovos              5249
nagnovos           5249
novos              5249
ovosdiacol         5249
coordy             3182
coordx             3182
cdbairro            808
quadra              558
qquadbh             558
scoreG              106
exercicio             0
idarmad               0
narmad                0
nplaca                0
cep                   0
dtcol                 0
qarmadild             0
dia                   0
qarmadilrc            0
qarmadila             0
cddist                0
dtype: int64

NaN means value 0

In [13]:
# IND_QTE_OVOS_ECLODIDOS, IND_QTE_OVOS_DESIDRATADOS
print('Possible values of eclod and desid:\n',
      'eclod', masterdata['eclod'].unique(),'\n',
      'desid:', masterdata['desid'].unique())

#Substituting NaN values with 0
masterdata[['eclod','desid']] = masterdata[['eclod','desid']].fillna(0)

Possible values of eclod and desid:
 eclod [nan  1.  2.  4.  3.  5.]
 desid: [nan  1.  5.  3.  4.  2.]

### NaN means lack of crutial information

### NaNs mean lack of irrelevant data

List of variables

['COMPLEMENTO', 'NUM_BAIRRO']

Inference

In [21]:
# import files with num_armadilha and coordinates correspondence

coordArmadilhas = pd.read_excel('./data/complementar/CoordXYArmadilhas.xls')
coordOvitrampas = pd.read_excel('./data/complementar/CoordXYOvitrampas.xls')
print('Equal files?', coordArmadilhas.equals(coordOvitrampas))

Equal files? True

In [22]:
coordArmadilhas

      narmad     coordx      coordy
0     901001  598985.09  7789798.11
1     901002  598808.00  7790153.00
2     901003  598881.72  7790764.51
3     901004  598157.00  7791000.00
4     901005  598520.00  7790795.00
...      ...        ...         ...
1868  909181  609419.60  7811526.60
1869  909182  609232.00  7810938.00
1870  909183  608658.00  7810645.00
1871  909184  607081.23  7810705.69
1872  909185  605780.00  7810489.00

[1873 rows x 3 columns]

In [36]:
# check if there are any NaN values in the coordinate columns of the masterdata
nan_rows_coord = utils.print_rows_with_nan(masterdata[['coordx','narmad']], 'coordx',True)
nan_rows_coord_unique = utils.get_col_unique_values(nan_rows_coord, 'narmad')

        coordx  narmad
125482     NaN  902217
125483     NaN  902217
125484     NaN  902217
125485     NaN  902217
125486     NaN  902217
...        ...     ...
523043     NaN  909195
523044     NaN  909195
523045     NaN  909195
523046     NaN  909195
523047     NaN  909195

[3182 rows x 2 columns]

In [40]:
# check if traps with nan coordinates in masterdata have coordinates in coordArmadilhas
for narmad in nan_rows_coord_unique:
    print(utils.row_with_value(coordArmadilhas, 'narmad', narmad)   )

Empty DataFrame
Columns: [narmad, coordx, coordy]
Index: []
Empty DataFrame
Columns: [narmad, coordx, coordy]
Index: []
Empty DataFrame
Columns: [narmad, coordx, coordy]
Index: []
Empty DataFrame
Columns: [narmad, coordx, coordy]
Index: []
Empty DataFrame
Columns: [narmad, coordx, coordy]
Index: []
Empty DataFrame
Columns: [narmad, coordx, coordy]
Index: []
Empty DataFrame
Columns: [narmad, coordx, coordy]
Index: []
Empty DataFrame
Columns: [narmad, coordx, coordy]
Index: []
Empty DataFrame
Columns: [narmad, coordx, coordy]
Index: []
Empty DataFrame
Columns: [narmad, coordx, coordy]
Index: []
Empty DataFrame
Columns: [narmad, coordx, coordy]
Index: []
Empty DataFrame
Columns: [narmad, coordx, coordy]
Index: []
Empty DataFrame
Columns: [narmad, coordx, coordy]
Index: []
Empty DataFrame
Columns: [narmad, coordx, coordy]
Index: []
Empty DataFrame
Columns: [narmad, coordx, coordy]
Index: []
Empty DataFrame
Columns: [narmad, coordx, coordy]
Index: []
Empty DataFrame
Columns: [narmad, coordx, coordy]
Index: []
Empty DataFrame
Columns: [narmad, coordx, coordy]
Index: []
Empty DataFrame
Columns: [narmad, coordx, coordy]
Index: []
Empty DataFrame
Columns: [narmad, coordx, coordy]
Index: []
Empty DataFrame
Columns: [narmad, coordx, coordy]
Index: []
Empty DataFrame
Columns: [narmad, coordx, coordy]
Index: []
Empty DataFrame
Columns: [narmad, coordx, coordy]
Index: []
Empty DataFrame
Columns: [narmad, coordx, coordy]
Index: []
Empty DataFrame
Columns: [narmad, coordx, coordy]
Index: []
Empty DataFrame
Columns: [narmad, coordx, coordy]
Index: []
Empty DataFrame
Columns: [narmad, coordx, coordy]
Index: []
Empty DataFrame
Columns: [narmad, coordx, coordy]
Index: []
Empty DataFrame
Columns: [narmad, coordx, coordy]
Index: []
Empty DataFrame
Columns: [narmad, coordx, coordy]
Index: []
Empty DataFrame
Columns: [narmad, coordx, coordy]
Index: []
Empty DataFrame
Columns: [narmad, coordx, coordy]
Index: []
Empty DataFrame
Columns: [narmad, coordx, coordy]
Index: []
Empty DataFrame
Columns: [narmad, coordx, coordy]
Index: []
Empty DataFrame
Columns: [narmad, coordx, coordy]
Index: []
Empty DataFrame
Columns: [narmad, coordx, coordy]
Index: []
Empty DataFrame
Columns: [narmad, coordx, coordy]
Index: []
Empty DataFrame
Columns: [narmad, coordx, coordy]
Index: []
Empty DataFrame
Columns: [narmad, coordx, coordy]
Index: []
Empty DataFrame
Columns: [narmad, coordx, coordy]
Index: []
Empty DataFrame
Columns: [narmad, coordx, coordy]
Index: []
Empty DataFrame
Columns: [narmad, coordx, coordy]
Index: []
Empty DataFrame
Columns: [narmad, coordx, coordy]
Index: []
Empty DataFrame
Columns: [narmad, coordx, coordy]
Index: []
Empty DataFrame
Columns: [narmad, coordx, coordy]
Index: []
Empty DataFrame
Columns: [narmad, coordx, coordy]
Index: []
Empty DataFrame
Columns: [narmad, coordx, coordy]
Index: []
Empty DataFrame
Columns: [narmad, coordx, coordy]
Index: []
Empty DataFrame
Columns: [narmad, coordx, coordy]
Index: []
Empty DataFrame
Columns: [narmad, coordx, coordy]
Index: []
Empty DataFrame
Columns: [narmad, coordx, coordy]
Index: []
Empty DataFrame
Columns: [narmad, coordx, coordy]
Index: []
Empty DataFrame
Columns: [narmad, coordx, coordy]
Index: []
Empty DataFrame
Columns: [narmad, coordx, coordy]
Index: []
Empty DataFrame
Columns: [narmad, coordx, coordy]
Index: []
Empty DataFrame
Columns: [narmad, coordx, coordy]
Index: []
Empty DataFrame
Columns: [narmad, coordx, coordy]
Index: []
Empty DataFrame
Columns: [narmad, coordx, coordy]
Index: []
Empty DataFrame
Columns: [narmad, coordx, coordy]
Index: []
Empty DataFrame
Columns: [narmad, coordx, coordy]
Index: []
Empty DataFrame
Columns: [narmad, coordx, coordy]
Index: []
Empty DataFrame
Columns: [narmad, coordx, coordy]
Index: []
Empty DataFrame
Columns: [narmad, coordx, coordy]
Index: []
Empty DataFrame
Columns: [narmad, coordx, coordy]
Index: []
Empty DataFrame
Columns: [narmad, coordx, coordy]
Index: []
Empty DataFrame
Columns: [narmad, coordx, coordy]
Index: []
Empty DataFrame
Columns: [narmad, coordx, coordy]
Index: []
Empty DataFrame
Columns: [narmad, coordx, coordy]
Index: []
Empty DataFrame
Columns: [narmad, coordx, coordy]
Index: []
Empty DataFrame
Columns: [narmad, coordx, coordy]
Index: []
Empty DataFrame
Columns: [narmad, coordx, coordy]
Index: []
Empty DataFrame
Columns: [narmad, coordx, coordy]
Index: []
Empty DataFrame
Columns: [narmad, coordx, coordy]
Index: []
Empty DataFrame
Columns: [narmad, coordx, coordy]
Index: []
Empty DataFrame
Columns: [narmad, coordx, coordy]
Index: []
Empty DataFrame
Columns: [narmad, coordx, coordy]
Index: []
Empty DataFrame
Columns: [narmad, coordx, coordy]
Index: []
Empty DataFrame
Columns: [narmad, coordx, coordy]
Index: []
Empty DataFrame
Columns: [narmad, coordx, coordy]
Index: []
Empty DataFrame
Columns: [narmad, coordx, coordy]
Index: []
Empty DataFrame
Columns: [narmad, coordx, coordy]
Index: []
Empty DataFrame
Columns: [narmad, coordx, coordy]
Index: []
Empty DataFrame
Columns: [narmad, coordx, coordy]
Index: []
Empty DataFrame
Columns: [narmad, coordx, coordy]
Index: []
Empty DataFrame
Columns: [narmad, coordx, coordy]
Index: []
Empty DataFrame
Columns: [narmad, coordx, coordy]
Index: []
Empty DataFrame
Columns: [narmad, coordx, coordy]
Index: []
Empty DataFrame
Columns: [narmad, coordx, coordy]
Index: []
Empty DataFrame
Columns: [narmad, coordx, coordy]
Index: []
Empty DataFrame
Columns: [narmad, coordx, coordy]
Index: []
Empty DataFrame
Columns: [narmad, coordx, coordy]
Index: []
Empty DataFrame
Columns: [narmad, coordx, coordy]
Index: []
Empty DataFrame
Columns: [narmad, coordx, coordy]
Index: []
Empty DataFrame
Columns: [narmad, coordx, coordy]
Index: []
Empty DataFrame
Columns: [narmad, coordx, coordy]
Index: []
Empty DataFrame
Columns: [narmad, coordx, coordy]
Index: []
Empty DataFrame
Columns: [narmad, coordx, coordy]
Index: []
Empty DataFrame
Columns: [narmad, coordx, coordy]
Index: []
Empty DataFrame
Columns: [narmad, coordx, coordy]
Index: []
Empty DataFrame
Columns: [narmad, coordx, coordy]
Index: []
Empty DataFrame
Columns: [narmad, coordx, coordy]
Index: []
Empty DataFrame
Columns: [narmad, coordx, coordy]
Index: []
Empty DataFrame
Columns: [narmad, coordx, coordy]
Index: []
Empty DataFrame
Columns: [narmad, coordx, coordy]
Index: []
Empty DataFrame
Columns: [narmad, coordx, coordy]
Index: []
Empty DataFrame
Columns: [narmad, coordx, coordy]
Index: []
Empty DataFrame
Columns: [narmad, coordx, coordy]
Index: []
Empty DataFrame
Columns: [narmad, coordx, coordy]
Index: []
Empty DataFrame
Columns: [narmad, coordx, coordy]
Index: []
Empty DataFrame
Columns: [narmad, coordx, coordy]
Index: []
Empty DataFrame
Columns: [narmad, coordx, coordy]
Index: []
Empty DataFrame
Columns: [narmad, coordx, coordy]
Index: []
Empty DataFrame
Columns: [narmad, coordx, coordy]
Index: []
Empty DataFrame
Columns: [narmad, coordx, coordy]
Index: []
Empty DataFrame
Columns: [narmad, coordx, coordy]
Index: []
Empty DataFrame
Columns: [narmad, coordx, coordy]
Index: []
Empty DataFrame
Columns: [narmad, coordx, coordy]
Index: []
Empty DataFrame
Columns: [narmad, coordx, coordy]
Index: []
Empty DataFrame
Columns: [narmad, coordx, coordy]
Index: []
Empty DataFrame
Columns: [narmad, coordx, coordy]
Index: []
Empty DataFrame
Columns: [narmad, coordx, coordy]
Index: []
Empty DataFrame
Columns: [narmad, coordx, coordy]
Index: []
Empty DataFrame
Columns: [narmad, coordx, coordy]
Index: []
Empty DataFrame
Columns: [narmad, coordx, coordy]
Index: []
Empty DataFrame
Columns: [narmad, coordx, coordy]
Index: []
Empty DataFrame
Columns: [narmad, coordx, coordy]
Index: []
Empty DataFrame
Columns: [narmad, coordx, coordy]
Index: []
Empty DataFrame
Columns: [narmad, coordx, coordy]
Index: []
Empty DataFrame
Columns: [narmad, coordx, coordy]
Index: []
Empty DataFrame
Columns: [narmad, coordx, coordy]
Index: []
Empty DataFrame
Columns: [narmad, coordx, coordy]
Index: []
Empty DataFrame
Columns: [narmad, coordx, coordy]
Index: []
Empty DataFrame
Columns: [narmad, coordx, coordy]
Index: []
Empty DataFrame
Columns: [narmad, coordx, coordy]
Index: []
Empty DataFrame
Columns: [narmad, coordx, coordy]
Index: []
Empty DataFrame
Columns: [narmad, coordx, coordy]
Index: []
Empty DataFrame
Columns: [narmad, coordx, coordy]
Index: []
Empty DataFrame
Columns: [narmad, coordx, coordy]
Index: []
Empty DataFrame
Columns: [narmad, coordx, coordy]
Index: []
Empty DataFrame
Columns: [narmad, coordx, coordy]
Index: []
Empty DataFrame
Columns: [narmad, coordx, coordy]
Index: []
Empty DataFrame
Columns: [narmad, coordx, coordy]
Index: []
Empty DataFrame
Columns: [narmad, coordx, coordy]
Index: []
Empty DataFrame
Columns: [narmad, coordx, coordy]
Index: []
Empty DataFrame
Columns: [narmad, coordx, coordy]
Index: []
Empty DataFrame
Columns: [narmad, coordx, coordy]
Index: []
Empty DataFrame
Columns: [narmad, coordx, coordy]
Index: []
Empty DataFrame
Columns: [narmad, coordx, coordy]
Index: []
Empty DataFrame
Columns: [narmad, coordx, coordy]
Index: []
Empty DataFrame
Columns: [narmad, coordx, coordy]
Index: []
Empty DataFrame
Columns: [narmad, coordx, coordy]
Index: []
Empty DataFrame
Columns: [narmad, coordx, coordy]
Index: []
Empty DataFrame
Columns: [narmad, coordx, coordy]
Index: []
Empty DataFrame
Columns: [narmad, coordx, coordy]
Index: []
Empty DataFrame
Columns: [narmad, coordx, coordy]
Index: []
Empty DataFrame
Columns: [narmad, coordx, coordy]
Index: []
Empty DataFrame
Columns: [narmad, coordx, coordy]
Index: []
Empty DataFrame
Columns: [narmad, coordx, coordy]
Index: []
Empty DataFrame
Columns: [narmad, coordx, coordy]
Index: []
Empty DataFrame
Columns: [narmad, coordx, coordy]
Index: []
Empty DataFrame
Columns: [narmad, coordx, coordy]
Index: []
Empty DataFrame
Columns: [narmad, coordx, coordy]
Index: []
Empty DataFrame
Columns: [narmad, coordx, coordy]
Index: []
Empty DataFrame
Columns: [narmad, coordx, coordy]
Index: []
Empty DataFrame
Columns: [narmad, coordx, coordy]
Index: []
Empty DataFrame
Columns: [narmad, coordx, coordy]
Index: []
Empty DataFrame
Columns: [narmad, coordx, coordy]
Index: []
Empty DataFrame
Columns: [narmad, coordx, coordy]
Index: []
Empty DataFrame
Columns: [narmad, coordx, coordy]
Index: []
Empty DataFrame
Columns: [narmad, coordx, coordy]
Index: []
Empty DataFrame
Columns: [narmad, coordx, coordy]
Index: []
Empty DataFrame
Columns: [narmad, coordx, coordy]
Index: []
Empty DataFrame
Columns: [narmad, coordx, coordy]
Index: []
Empty DataFrame
Columns: [narmad, coordx, coordy]
Index: []
Empty DataFrame
Columns: [narmad, coordx, coordy]
Index: []
Empty DataFrame
Columns: [narmad, coordx, coordy]
Index: []
Empty DataFrame
Columns: [narmad, coordx, coordy]
Index: []
Empty DataFrame
Columns: [narmad, coordx, coordy]
Index: []
Empty DataFrame
Columns: [narmad, coordx, coordy]
Index: []
Empty DataFrame
Columns: [narmad, coordx, coordy]
Index: []
Empty DataFrame
Columns: [narmad, coordx, coordy]
Index: []
Empty DataFrame
Columns: [narmad, coordx, coordy]
Index: []
Empty DataFrame
Columns: [narmad, coordx, coordy]
Index: []
Empty DataFrame
Columns: [narmad, coordx, coordy]
Index: []

## Problems

### Traps without coordinates

# DRAFT

In [19]:
masterdata.isna().sum().sort_values(ascending=False)

nagovosdiacol    10237
CatRC             6546
SumOvosP2         5290
SumOvosP1         5290
Peso1             5290
                 ...
qquadaa              0
qaaCatRC             0
qquadist             0
GerCat               0
qdnte                0
Length: 68, dtype: int64